<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>
<body>

  {% include 'app/modul/_header/_header.html' %}

  <main class="main">

    {% include 'app/modul/_top-slider/_top-slider.html' %}

    {% include 'app/modul/_categories-info/_categories-info.html' %}

    {% include 'app/modul/_video-fashion/_video-fashion.html' %}

    {% include 'app/modul/_product/_product.html' %}

    {% include 'app/modul/_promo/_promo.html' %}

    {% include 'app/modul/_partners/_partners.html' %}

    {% include 'app/modul/_blog/_blog.html' %}
    
  </main>

  {% include 'app/modul/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>
</html>